**

# Whitelist

!images/**
!node_modules/fast-diff/**
!node_modules/comment-json/**
!node_modules/json-parser/**
!node_modules/esprima/**
!vscode/compiled/**
!vscode/Settings.js
!vscode/CustomLanguage.js
!vscode/Extension.js
!vscode/FixSelections.js
!CHANGELOG.md
!package.json
!README.md
!LICENSE
